@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS & THEMES */
:root {
  --accent: rgb(30, 86, 255);
  --accentlight: rgb(97, 136, 255);
  --base: rgb(255, 255, 255);
  --bgColor: #101010;
  --container_border: 1px solid #333;
  --trendingCoinsColor: #c8c8c8;
  --trendingCoinsBgColor: #4f4f4f39;
  --indexBgColor: #33333366;
  --basefaded: rgb(218, 218, 218);
  --chevronhover: rgb(255, 255, 255);
  --currencystatscolor: rgb(188, 188, 188);
  --currencystatsborder: 1px solid #333;
  --tabledataborder: 1px solid #3333337a;
  --filterbuttonsBgColor: rgba(69, 69, 69, 0.741);
  --ministarColor: invert(1) ;
}

#htmlPage.light_mode {
  --base: rgb(0, 0, 0);
  --bgColor: #ffffff;
  --container_border: 1px solid rgba(0, 0, 0, 0.025);
  --container_shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.127);
  --trendingCoinsColor: black;
  --trendingCoinsBgColor: #f2f2f27a;
  --indexBgColor: #dbdbdb66;
  --basefaded: rgb(107, 107, 107);
  --chevronhover: rgb(0, 0, 0);
  --currencystatscolor: rgb(81, 81, 81);
  --currencystatsborder: 1px solid rgba(152, 152, 152, 0.535);
  --tabledataborder: 1px solid rgba(199, 199, 199, 0.467);
  --filterbuttonsBgColor: rgb(225, 225, 225);
  --ministarColor: invert(0) ;
}

/* MAINSCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--base);
  border-radius: 10px 0px 0px 10px;
}

/* Light mode styles */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

html {
  background-color: var(--bgColor);
  scroll-behavior: smooth;
}

/* CHEVRON */
.chevron_up {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  /*   border: 2px solid transparent; */
  background-color: var(--base);
  color: var(--chevronhover);
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  transition: all ease 0.5s;
}

.chevron_up:hover {
  background-color: var(--accent);
}

.chevron_up::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(50%, 50%);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  color: var(--bgColor);
}

.load_animation {
  margin: 30px auto;
  /*   background-color: red; */
  width: 30px;
  height: 30px;
  border: solid 3px var(--base);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  background-color: var(--bgColor);
  color: var(--base);
  border-bottom: var(--container_border);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--container_shadow);
}

.global_info {
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--basefaded);
  font-size: 0.7rem;
  padding: 20px 10px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  white-space: nowrap;
}

.stats {
  color: var(--accentlight);
}

footer {
  background-color: var(--bgColor);
  color: var(--base);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  border-radius: 20px 20px 0px 0px;
  box-shadow: var(--container_shadow);
}

.footer_container {
  /*   border: 1px solid white; */
  width: 85%;
  margin: 25px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  /*   z-index: 0; */
}
.footer_container h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}
.footer_container ul {
  /*     border: 1px solid black; */
  margin-top: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.copyright {
  text-align: center;
  opacity: 0.5;
  font-size: clamp(0.3rem, 3vw, 1rem);
  margin-bottom: 20px;
}

.footer_links {
  text-decoration: none;
  color: var(--base);
  opacity: 0.5;
  transition: all ease 0.2s;
  font-size: clamp(0.3rem, 3vw, 1rem);
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

.footer_links:hover {
  color: var(--accent);
  opacity: 1;
}

.logo {
  padding: 0px 5px;
  border: 2px solid var(--base);
  text-decoration: none;
  color: var(--base);
  font-family: "Cinzel", serif;
  font-size: clamp(0.4rem, 4vw, 1.5rem);
  cursor: pointer;
}

.logo_footer {
  padding: 0px 5px;
  border: 2px solid var(--base);
  text-decoration: none;
  color: var(--base);
  font-family: "Cinzel", serif;
  font-size: clamp(0.4rem, 4vw, 1.5rem);
  margin-right: auto;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.165);
}

.login_signup_btn_container {
  display: flex;
  gap: 10px;
}

.login_button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  border-radius: 2px;
  cursor: pointer;
}

.signup_button:hover {
  opacity: 0.9;
}

.login_button:hover {
  opacity: 0.9;
}

.signup_button {
  padding: 5px 10px;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.search_icon {
  width: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.search_container {
  width: 30%;
  margin-left: auto;
  display: flex;
  gap: 5px;
  position: relative;
}

.search_field {
  /*   border: 2px solid white; */
  height: 30px;
  width: 0%;
  text-indent: 10px;
  font-size: clamp(0.5rem, 3vw, 1rem);
  border: none;
  outline: none;
  margin-left: auto;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-family: "Quicksand", sans-serif;
  background-color: transparent;
  color: var(--base);
  border-bottom: 1px solid rgba(255, 255, 255, 0.222);
}

/* SEARCH RESULTS STYLINGS */
.search_list {
  box-shadow: var(--container_shadow);
  width: 100%;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 5px 0px 0px 5px;
  overflow-y: scroll;
  transition: all 0.5s;
  z-index: 9999;
}

.search_list::-webkit-scrollbar {
  width: 5px;
}

.search_list::-webkit-scrollbar-thumb {
  background: black;
}

.search_list::-webkit-scrollbar-track {
  background: white;
}

.result {
  width: 100%;
  border-bottom: 1px solid rgba(143, 143, 143, 0.486);
  display: flex;
  gap: 10px;
  cursor: pointer;
  background-color: var(--bgColor);
  color: var(--base);
  padding: 7px;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.result:hover {
  background-color: var(--accent);
  transition: all 0.5s;
}

.nav_links {
  text-decoration: none;
  color: var(--base);
  padding: 3px 5px;
  border-radius: 2px;
  font-size: clamp(0.4rem, 5vw, 1rem);
}

.nav_links.active {
  background-color: var(--base);
  color: var(--bgColor);
}

.nav_links:hover {
  background-color: var(--base);
  color: var(--bgColor);
}

nav {
  display: flex;
  align-items: center;
  /*    border: 1px solid white; */
  width: 97%;
  margin: 0 auto;
}

.nav_links_container {
  display: flex;
  gap: 10px;
}

/* TRENDING HIGHLIGHTS */
.highlights_title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-family: "Quicksand", sans-serif;
}

.highlight_icons {
  margin-right: 5px;
  margin-bottom: 3px;
}

.highlights_titles {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.live {
  background-color: rgb(255, 0, 0);
  float: right;
  color: white;
  margin-top: 3px;
  font-size: 0.8rem;
  border-radius: 2px;
  font-family: "Philosopher", sans-serif;
  letter-spacing: 2px;
  padding: 2px 8px;
  margin-left: auto;
}

.highlights_container {
  /* border: 1px solid red; */
  width: 95%;
  margin: 40px auto 0 auto;
  border: var(--container_border);
  border-radius: 5px;
  padding: 10px;
  color: var(--base);
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
}

.main_highlights_container {
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 95%;
  margin: 5px auto 30px auto;
}

.trending_list {
  /*   border: 1px solid rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

/* TOOTIPS */
.index_tooltip_container, .mcap_tooltip_container, .volume_tooltip_container, .circ_supply_tooltip_container {
  position: relative;
  white-space: pre-wrap;
}

.index_info {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7rem;
  z-index: 999;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
}

.index_info_icon:hover + .index_info {
  opacity: 1;
}

.mcap_table_info {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  font-size: 0.6rem;
  z-index: 999;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
  white-space: wrap;
}

.mcap_table_info_icon:hover + .mcap_table_info {
  opacity: 1;
}

.volume_table_info {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
  font-weight: lighter;
  font-size: 0.6rem;
  z-index: 999;
  font-family: "Quicksand", sans-serif;
  text-align: left;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
  white-space: wrap;
}

.volume_table_info_icon:hover + .volume_table_info {
  opacity: 1;
}

.circsupply_table_info {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-70%);
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  font-size: 0.6rem;
  z-index: 999;
  text-align: left;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
  white-space: wrap;
}

.circsupply_table_info_icon:hover + .circsupply_table_info {
  opacity: 1;
}

.index_info_icon,
.mcap_table_info_icon,
.volume_table_info_icon,
.circsupply_table_info_icon, .mcap_info_icon,
.volume_info_icon,
.fully_mcap_info_icon {
  margin-left: 3px;
  cursor: default;
  opacity: 0.3;
  position: relative;
  font-size: 0.9rem;
}

.more_button {
  text-decoration: none;
  color: var(--accentlight);
  float: right;
  display: block;
  margin-top: 10px;
}

.more_button:hover {
  transition: all ease 0.5s;
  text-decoration: underline;
  color: var(--accent);
}

.trending_container {
  border: var(--container_border);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
  color: var(--base);
  width: 100%;
  font-size: 0.9rem;
}

.numbering {
  opacity: 0.7;
}

.trending_line {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  background-color: var(--trendingCoinsBgColor);
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
  color: var(--trendingCoinsColor);
}

.trending_icons {
  width: 17px;
  height: auto;
}

.nft_platform {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

.trending_coins {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

.trending_exchanges {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

/* CRYPTO LIST */
h2 {
  color: white;
}

.highlights_info {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  opacity: 0.8;
  font-size: clamp(0.3rem, 3vw, 1rem);
}

.list_actions {
  width: 95%;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
}

.watchlist_btn {
  background-color: var(--filterbuttonsBgColor);
  color: var(--base);
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  margin-right: auto;
  display: flex;
  gap: 5px;
  font-size: clamp(0.3rem, 2vw, 0.75rem);
  align-items: center;
  text-decoration: none;
}

.mini_star {
  width: 10px;
  filter: var(--ministarColor);
}

.watchlist_btn:hover {
  background-color: rgb(206, 206, 206);
}

.main_sort_container {
  width: 100%;
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.main_rows_container {
  position: relative;
}

.sort_main_container {
  position: relative;
}

.sort_container {
  border: var(--currencystatsborder);
  width: 150%;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /*   gap: 5px; */
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
  z-index: 999999;
  opacity: 1;
  transition: all ease 0.3s;
}

.sort_container.hide {
  opacity: 0;
  pointer-events: none;
}

.sort_button {
  background-color: var(--filterbuttonsBgColor);
  color: var(--base);
  font-weight: bold;
  /*   color: var(--base); */
  /*   border: var(--currencystatsborder); */
  font-size: clamp(0.3rem, 2vw, 0.75rem);
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.sort_button:hover {
  background-color: rgb(206, 206, 206);
}

.sort_buttons {
  background-color: var(--bgColor);
  color: var(--base);
  border: none;
  /*   border-top: 1px solid #a7a7a749; */
  border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(0.3rem, 2vw, 0.75rem);
}

.sort_buttons:hover {
  background-color: var(--accent);
  color: white;
}

.show_rows_btn {
  background-color: var(--filterbuttonsBgColor);
  font-size: clamp(0.3rem, 2vw, 0.75rem);
  color: var(--base);
  font-weight: bold;
  /*   color: var(--base); */
  /*   border: var(--currencystatsborder); */
  border: none;
  outline: none;
  border-radius: 2px;
  white-space: nowrap;
  padding: 5px 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.show_rows_btn:hover {
  background-color: rgb(206, 206, 206);
}

.rows_buttons {
  background-color: var(--bgColor);
  color: var(--base);
  border: none;
  /*   border-top: 1px solid #a7a7a749; */
  border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(0.3rem, 2vw, 0.75rem);
}

.rows_buttons:hover {
  background-color: var(--accent);
  color: white;
}

.rows_container {
  border: var(--currencystatsborder);
  width: 80%;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /*   gap: 5px; */
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
  z-index: 999999;
  opacity: 1;
  transition: all ease 0.3s;
}

.rows_container.hide {
  opacity: 0;
  pointer-events: none;
}

.crypto_list_container {
  border: var(--container_border);
  /* border: 1px solid red; */
  overflow-x: scroll;
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 5px auto 5px auto;
}

.crypto_list_container::-webkit-scrollbar-thumb:horizontal {
  /*   background-color: rgb(58, 58, 58);  */
  border-radius: 4px 4px 0px 0px;
}

.crypto_list_container::-webkit-scrollbar-track:horizontal {
  background-color: rgba(255, 255, 255, 0);
}

.crypto_list_container::-webkit-scrollbar:horizontal {
  height: 5px;
}

/* TABLE */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: var(--base);
  font-family: "Quicksand", sans-serif !important;
  font-size: 0.9rem !important;
}

th, td {
  /* border: 1px solid black; */
  background-color: var(--bgColor);
  color: var(--base);
  font-size: clamp(0.6rem, 5vw, 0.9rem);
  padding: 15px;
  text-align: left;
  white-space: nowrap;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

td {
  border-top: var(--tabledataborder);
}

.watchlist_star_btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button,
img,
a {
  -webkit-tap-highlight-color: transparent;
}

.list_star {
  padding: 2px;
  display: block;
}

.name_container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.name {
  text-decoration: none;
  color: var(--base);
  font-weight: 600;
}

.name:hover {
  color: var(--accent);
}

.red {
  color: rgb(255, 0, 0) !important;
  font-weight: bold;
}

.orange {
  color: orange;
  font-weight: bold;
}

.green {
  color: #19e898 !important;
  font-weight: bold;
}

.faded_text {
  opacity: 0.5;
  font-weight: lighter;
}

/* PROGRESS BAR */
.bar_container {
  height: 3px;
  border-radius: 5px;
  width: 90%;
  background-color: rgba(180, 180, 180, 0.269);
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bar {
  border-radius: 2px;
  height: 3px;
  background-color: var(--accent);
}

/* FEAR & GREED GUAGE */
.chart-gauge {
  transform: scale(0.45);
  height: 134px;
}

.chart-color1 {
  fill: #05fb9c;
}

.chart-color2 {
  fill: #ff5900;
}

.chart-color3 {
  fill: #e92213;
}

.needle,
.needle-center {
  fill: var(--base);
}

.index_container {
  position: relative;
  /*   border: 1px solid white; */
}

.index_percent {
  font-size: 1.2rem;
  position: absolute;
  top: 44%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color: var(--indexBgColor);
  border-radius: 5px;
  padding: 1px 10px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

/* PAGINATION */
.pagination_container {
  border: var(--container_border);
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 5px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pagination_info {
  color: var(--base);
  display: block;
  float: left;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  opacity: 0.6;
  font-size: clamp(0.3rem, 2vw, 0.75rem);
}

.page_buttons {
  width: 25px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--base);
  font-size: clamp(0.3rem, 3vw, 0.75rem);
  font-weight: bold;
}

.page_buttons.active {
  background-color: var(--accent);
  color: rgb(255, 255, 255);
}

.page_buttons:hover {
  transition: all ease 0.4s;
  background-color: rgba(133, 133, 133, 0.149);
  /*   border: 1px solid rgb(0, 0, 0); */
  color: var(--base);
}

/* EXCHANGES COMPONENT */
.back_button {
  text-decoration: none;
  background-color: var(--base);
  padding: 5px;
  color: var(--bgColor);
  border-radius: 2px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  position: relative;
  font-weight: 500;
  font-size: clamp(0.3rem, 2vw, 0.75rem);
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  transition: all ease 0.4s;
}

.back_button:hover {
  color: var(--base);
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
}

/* .back_button::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 0; 
  height: 1px;
  border-radius: 2px;
  background-color: var(--base);
  transition: width 0.3s ease;
} */
/* .back_button:hover::before {
  width: 100%; 
} */
.title_container {
  /* border: 1px solid red; */
  width: 90%;
  margin: 0px auto 0 auto;
  border: var(--container_border);
  border-radius: 5px;
  padding: 10px;
  color: var(--base);
  background-color: var(--bgColor);
  box-shadow: var(--container_shadow);
}

.exchange_name_container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.exchanges_list_container {
  border: var(--container_border);
  background-color: var(--bgColor);
  padding: 10px;
  overflow-x: scroll;
  box-shadow: var(--container_shadow);
  width: 90%;
  border-radius: 5px;
  margin: 15px auto 25px auto;
}

.exchange_links {
  text-decoration: none;
  color: rgba(30, 86, 255, 0.818);
  position: relative;
}

.exchange_links:hover {
  color: var(--accent);
  transition: all ease 0.3s;
}

.exchange_links::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 0;
  height: 1px;
  border-radius: 2px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.exchange_links:hover::before {
  width: 100%; /* Expand the width to 100% on hover */
}

.score {
  color: white;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
}

.circ_supply {
  position: relative;
}

.bar_container {
  position: absolute;
  width: 75%;
}

.coin_volume {
  position: relative;
  text-align: right;
}

.coin_amount {
  opacity: 0.8;
  font-size: 0.7rem;
  bottom: 7%;
  right: 10%;
  position: absolute;
}

.volume_title {
  text-align: right;
}

/* CURRENCY COMPONENT */
.currency_main_container {
  /*   border: 1px solid red; */
  width: 98%;
  margin: 0px auto 100px auto;
  border-radius: 5px;
  height: 520px;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.currency_info_container {
  box-shadow: var(--container_shadow);
  border: var(--container_border);
  background-color: var(--bgColor);
  width: 30%;
  height: auto;
  padding: 10px;
}

.currency_name {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--base);
}

.currency_faded_text {
  opacity: 0.4;
  font-size: 0.8rem;
}

.currency_stats_container {
  /*   border: 1px solid white; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}
.currency_stats_container p {
  /*    border: 1px solid white; */
  border: var(--currencystatsborder);
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  background-color: var(--bgColor);
  color: var(--currencystatscolor);
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 2px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

.currency_mcap_tooltip_container,
.currency_volume_tooltip_container,
.currency_fully_mcap_tooltip_container {
  position: relative;
}

.mcap_info_icon:hover + .mcap_info {
  opacity: 1;
}

.mcap_info {
  position: absolute;
  top: 0%;
  left: 150%;
  font-family: "Quicksand", sans-serif;
  transform: translateY(-35%);
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
  z-index: 999;
  font-weight: lighter;
  font-size: 0.7rem;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
}

.volume_info_icon:hover + .volume_info {
  opacity: 1;
}

.volume_info {
  position: absolute;
  top: 0%;
  left: 150%;
  transform: translateY(-35%);
  font-family: "Quicksand", sans-serif;
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
  font-weight: lighter;
  font-size: 0.7rem;
  z-index: 999;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
}

.fully_mcap_info_icon:hover + .fully_mcap_info {
  opacity: 1;
}

.fully_mcap_info {
  position: absolute;
  top: 0%;
  left: 150%;
  transform: translateY(-65%);
  background-color: rgb(65, 65, 65);
  border-radius: 3px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  width: 200px;
  z-index: 999;
  font-weight: lighter;
  font-size: 0.7rem;
  opacity: 0;
  cursor: default;
  transition: all ease 0.4s;
}

.currency_stats {
  font-size: 0.8rem;
  margin-left: auto;
}

.circ_supply_bar_container {
  height: 5px;
  border-radius: 5px;
  background-color: rgba(180, 180, 180, 0.269);
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.circ_supply_bar {
  border-radius: 2px;
  height: 3px;
  background-color: var(--accent);
}

.add_to_watchlist_button {
  border: none;
  outline: none;
  background-color: var(--accent);
  font-size: 1rem;
  color: white;
  z-index: 998;
  cursor: pointer;
  height: 45px;
  transition: all ease 0.3s;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 70%;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
}

.add_to_watchlist_button:hover {
  background-color: var(--accentlight);
  cursor: pointer;
}

.delete_btn {
  background-color: rgba(255, 0, 0, 0.89);
  outline: none;
  border: none;
  color: white;
  margin-top: 3px;
  border-radius: 2px;
  font-family: "Philosopher", sans-serif;
  padding: 2px 8px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.delete_btn:hover {
  background-color: rgb(255, 0, 0);
  transform: scale(1.1);
}

.empty_watchlist_container {
  color: var(--base);
  /*   border: var(--container_border); */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  font-family: "Quicksand", sans-serif;
}
.empty_watchlist_container h3 {
  font-size: 1.8rem;
}
.empty_watchlist_container .add_coins_btn {
  background-color: var(--accent);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  transition: all ease 0.4s;
  text-decoration: none;
  margin-top: 20px;
}
.empty_watchlist_container .add_coins_btn:hover {
  background-color: rgb(0, 119, 255);
  transform: scale(1.05);
}

.currency_description {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  z-index: 997;
  align-items: flex-start !important;
}

.currency_description::-webkit-scrollbar-thumb {
  background-color: rgb(58, 58, 58);
}

.currency_description::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.701);
}

.currency_description::-webkit-scrollbar {
  width: 3px;
}

.currency_description::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(58, 58, 58);
}

.currency_description::-webkit-scrollbar-track:horizontal {
  background-color: rgba(255, 255, 255, 0);
}

.currency_description::-webkit-scrollbar:horizontal {
  height: 3px;
}

.currency_buttons_container {
  display: flex;
  gap: 5px;
}

.currency_share_button {
  height: 100%;
  width: 30%;
  border: none;
  outline: none;
  background-color: var(--accent);
  font-size: 1rem;
  color: white;
  z-index: 998;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
}

.currency_share_button:hover {
  background-color: var(--accentlight);
  cursor: pointer;
}

/* CHART CONTAINER */
.tradingview-widget-container {
  z-index: 1000;
  overflow: hidden;
}

.tradingview-widget-container__widget {
  border-radius: 15px;
}

/* SHARE POPUP MODAL CONTAINER */
.share_popup_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1002;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 25px 0px rgba(107, 107, 107, 0.284);
  border: 1px solid #333;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  width: min(90%, 400px);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Quicksand", sans-serif;
  transition: all ease 0.4s;
}

.share_link_container {
  border: 1px solid #5b5b5b;
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 4px 5px;
  font-size: clamp(0.3rem, 4vw, 0.75rem);
  color: #c8c8c8;
  overflow: hidden;
}
.share_link_container p {
  width: 80%;
  white-space: nowrap;
}

.share_link_container:hover {
  border: 1px solid rgb(22, 80, 255);
}

.close_modal_button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  outline: none;
  opacity: 0.6;
  margin-left: auto;
  cursor: pointer;
  text-align: right !important;
}

.copy_button {
  background-color: rgb(22, 80, 255);
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  width: 20%;
}

.copy_button:hover {
  background-color: rgb(48, 100, 254);
}

.dark_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.564);
  visibility: hidden;
}

/* ABOUT COMPONENT */
.about_title {
  margin-bottom: 5px;
  color: var(--basefaded);
}

.about_container {
  border: var(--container_border);
  background-color: var(--bgColor);
  color: var(--basefaded);
  width: 97%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Philosopher", sans-serif;
  box-shadow: var(--container_shadow);
}

/* FAQ */
details {
  color: var(--basefaded);
  margin-bottom: 0.5rem;
  width: 97%;
  box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 10px auto;
  overflow: hidden;
  border: var(--container_border);
  background-color: var(--bgColor);
  font-family: "Philosopher", sans-serif;
}

summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--base);
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.details-expanded {
  margin-bottom: 15px;
  padding-left: 35px;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

/* THEME TOGGLE CONTAINER */
.theme_toggle_container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tgl {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  /*   border: 1px solid #e8eae9; */
}

.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}

.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}

.tgl-ios:checked + .tgl-btn {
  background: var(--accent);
}

.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}

/* ERROR COMPONENT */
.error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.error_notice {
  font-size: 1.1rem;
  opacity: 0.7;
  color: var(--base);
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

.return_home_btn {
  background-color: var(--accent);
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}

.return_home_btn:hover {
  background-color: var(--accentlight);
}

/* LOGIN & SIGNUP  */
.main_login_signup_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 0px rgba(107, 107, 107, 0.179);
  background-color: #000000;
  width: min(90%, 400px);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Quicksand", sans-serif;
  z-index: 1002;
  transition: all ease 0.4s;
}

.auth_type {
  color: white;
}

.login_signup_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.forgot_password {
  float: right;
  cursor: pointer;
  transition: all ease 0.3s;
}

.forgot_password:hover {
  color: var(--accent);
}

.email_container {
  display: flex;
  flex-direction: column;
}
.email_container label {
  width: 90%;
  margin: 0 auto;
  font-size: 0.7rem;
  color: white;
}
.email_container input {
  height: 40px;
  border: 1px solid #333;
  text-indent: 5px;
  outline: none;
  background-color: #101010;
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}
.email_container input:hover {
  border: 1px solid var(--accent);
}

.password_container {
  display: flex;
  flex-direction: column;
}
.password_container label {
  width: 90%;
  margin: 0 auto;
  font-size: 0.7rem;
  color: white;
}
.password_container input {
  height: 40px;
  border: 1px solid #333;
  text-indent: 5px;
  outline: none;
  background-color: #101010;
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}
.password_container input:hover {
  border: 1px solid var(--accent);
}

.loginSignup_btn {
  background-color: var(--accent);
  width: 30%;
  margin: 0 auto;
  border: none;
  outline: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all ease 0.4s;
}

.loginSignup_btn:hover {
  background-color: var(--accentlight);
}

:where(.no_account, .existing_account) {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0 auto;
  transition: all ease 0.3s;
  margin-top: 15px;
}

:where(.no_account:hover, .existing_account:hover) {
  text-decoration: underline;
  color: var(--accent);
}

/* MAIN LOADING ANIMATION */
svg text {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
  fill: transparent;
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;
  animation: animated-stroke 4s forwards;
  font-family: "Lobster Two", cursive;
  text-anchor: middle;
  dominant-baseline: middle;
}

@keyframes animated-stroke {
  0% {
    stroke-dasharray: 0 60%;
  }
  90% {
    fill: transparent;
  }
  100% {
    stroke-dasharray: 10% 0%;
    stroke-dashoffset: 25%;
    fill: rgb(255, 255, 255);
  }
}
/* MAIN WEBSITE FADE IN ANIMATION*/
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.animation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.global_info_stats {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container {
  display: none;
}

#hamburger {
  display: none;
}

.scroll-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1024px) {
  .main_highlights_container {
    flex-direction: column;
    width: 90%;
  }
  .list_actions {
    width: 90%;
  }
  .highlights_container {
    width: 90%;
  }
  .global_info_stats {
    overflow: hidden;
  }
  .scroll-container {
    display: flex;
    animation: scroll 60s linear infinite;
    gap: 20px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .global_info_stats::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--base);
    border-radius: 2px 2px 0px 0px;
  }
  .global_info_stats::-webkit-scrollbar:horizontal {
    height: 2px;
  }
  .currency_main_container {
    height: 900px;
    flex-direction: column;
  }
  .currency_info_container {
    width: 100%;
    overflow: scroll;
    height: 100%;
    order: 1;
  }
  /* HAMBURGER STYLINGS */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
  }
  .search_container {
    width: 50%;
  }
  #hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    z-index: 9998;
    -webkit-tap-highlight-color: transparent;
  }
  #hamburger .line {
    fill: none;
    /*     stroke: none; */
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #hamburger .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  #hamburger .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  #hamburger .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  #hamburger.open .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  #hamburger.open .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  #hamburger.open .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .nav_links_container {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100vw;
    left: 100%;
    height: 100vh;
    background-color: var(--bgColor);
    position: fixed;
    z-index: 9998;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.3rem;
    transition: all 0.5s;
  }
  .footer_container ul {
    gap: 20px;
  }
}/*# sourceMappingURL=index.css.map */